<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Transloadit Example Application</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">    
    <script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>   
    <script type="text/javascript" src="//assets.transloadit.com/js/jquery.transloadit2-latest.js"></script> 
    <script type="text/javascript">
	    $( document ).ready(function() {

	    });    	
    </script>
</head>
<body>

	<div class="container">

		<header>
			<h1>Transloadit Example Application</h1>
		</header>

		<div>
			{{{body}}}
		</div>

		<footer style="margin-top:500px;">
			<p>This demo is designed to accompany <a href="http://www.sitepoint.com">this article</a>.</p>
		</footer>

	</div>
	
</body>
</html>